body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    background: #01193d;
    color: #ccd6f6;
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .left {
    width: 30%;
    padding: 2rem;
    background: #01193d;
    position: fixed;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .left h1 {
    font-size: 3rem;
  }
  
  .right {
    margin-left: 30%;
    padding: 2rem;
    height: 100vh;
    overflow-y: scroll;
  }
  
  .right section {
    margin-bottom: 5rem;
  }
  
  #spotlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    pointer-events: none;
    background: radial-gradient(circle at center, rgba(54, 18, 215, 0.892) 0%, transparent 50%);
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  